version: "3.9"

services:
  log-server:
    build: .
    container_name: visualize-network-logs
    restart: unless-stopped
    ports:
      - "5555:5555/udp"
      - "5555:5555/tcp"
      - "3002:5000"
    volumes:
      - ./logs:/var/log   # persistent log dir (remote.log + kernel_logs.db)
      - ./rsyslog.conf:/etc/rsyslog.conf
      - ./kernel_log_processor.py:/usr/local/bin/kernel_log_processor.py
      - ./entrypoint.sh:/entrypoint.sh
    environment:
      - RSYSLOG_DEBUG=0